body {
  height: 50vh;
}

main {
  height: 82vh;
}

body {
  padding-top: 115px;
  background-image: url("../images/code1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Header Section */
.logo {
  background-color: rgb(255, 0, 0);
  padding: .5em;
  margin-left: 2em;
  text-transform: uppercase;
  border-radius: 5px;
}

.title {
  letter-spacing: .1em;
  font-size: 3em;
}

/* Footer Section */
.footer {
  margin-top: 3em;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
}

.fa-github {
  font-size: 2em;
  color: #fff;
}

